<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
      var sc_project=10142086;
      var sc_invisible=1;
      var sc_security="c6ac11db";
      var scJsHost = (("https:" == document.location.protocol) ?
              "https://secure." : "http://www.");
      document.write("<sc"+"ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript>
      <div class="statcounter">
        <a title="free hit counter" href="http://statcounter.com/" target="_blank"><img
           class="statcounter"
           src="http://c.statcounter.com/10142086/0/c6ac11db/1/"
           alt="free hit counter"></a>
      </div>
    </noscript>
    <!-- End of StatCounter Code for Default Guide -->
  </body>

</html>
